@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    /* background: rgba(0, 0, 0, 0.2); */ 
}
.hero{
    height: 350px;
    background: /* rgba(0, 0, 0, 0.2); */ url('img/ajad_1.jpg')
}
.description{
     height: 100%;
     width: 50%;
     float: right;
     /* margin-left: 10px; */
     /* background: deepskyblue; */
}
.hero-image{
    height: 100%;
    width: 50%;
    float: left;
    /* background: teal; */
}
.hero-image img{
    display: inline-block;
    height: 190px;
    width: 190px;
    float: left;
    border: 1px double black;
    border-radius: 50%;
    line-height: 345px;
    margin: 80px 0 80px 0;
    /* background-image: url(img/ajad_1.jpg); */
    /* background-size: cover; */
}
/* .hero-bottom-line{
    margin-bottom: 0px; 
        
    } */
.main{
    height: 100px;
    width: 100px;
    background: url("img/ajad_2.jpg")
}

